<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p>&copy; Islamic Network 2013-2020.</p>
            </div>
            <div class="col-sm-7">
                <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0; margin: -5px;">
                    <ul class="navbar-nav ml-auto">
                        {% for item in site.data.navigation-footer %}
                        <li class="nav-item {% if page.url == item.link %}active{% endif %}">
                            <a class ="nav-link" href="{{ item.link }}" {% if item.window == "new" %}target="_blank"{% endif %}>
                            {{ item.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6a6501c19d.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3749682-37"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3749682-37');
</script>

</body>
</html>
